body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
  }
  
  .sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    transition: background-color 0.3s ease; 
    
  }
  .sidebar:hover {
    background-color: #555;
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none; 
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;  
     }
  
  .content {
    padding: 20px;
  } 

  .nav-toggle {
    display: none;
  }
  
  .nav-toggle-label {
    cursor: pointer;
    display: none; 
  } 

  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
 
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  .grid-item {
    text-align: center;
  }
  .grid-item img {
    max-width: 100%;
    height: auto;
  }
  .grid-label {
    margin-top: 10px;
  }
 
  @media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
    }
    .nav-toggle {
      display: block; 
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 2;
    }
  
    .nav-toggle-label {
      display: block;
      font-size: 24px;
      line-height: 1;
      padding: 20px;
    }
  
    .nav-toggle:checked ~ .sidebar {
      display: block; 
      padding: 20px;
      background-color: #333;
      position: fixed;
      top: 0;
      left: 0;
      width: 70%;
      max-width: 300px;
      height: 100%;
      overflow-y: auto;
    }
    .sidebar {
      order: -1;
      width: 100%;
      padding: 20px; 
      display: none;
    }
  
    .content {
      order: 1;
      padding: 20px;
    }  
    
    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 100;
    }
    
  }